* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: url("/side bar 01/images/wallpaper.jpg");
  background-position: center;
  background-size: cover;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 90px;
  background: rgba(0, 0, 0, 0.2);
  padding: 30px 15px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.user div {
  display: none;
}

.user h2 {
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  padding-bottom: 3px;
}

.user_img {
  width: 40px;
  border-radius: 50%;
  margin: auto;
  margin-right: 10px;
  justify-content: flex-start;
  position: relative;
}

ul {
  list-style: none;
  padding: 0px 15px;
}

ul li {
  margin: 22px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

ul li img {
  width: 28px;
  margin-right: 0px;
}

ul li p {
  white-space: nowrap;
  display: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.side-nav:hover {
  width: 250px;
  transition: width 0.5s;

  .user div {
    display: block;
  }

  .user {
    width: 100%;
    background: rgba(201, 201, 201, 0.2);
    backdrop-filter: blur(5px);
    padding-right: 30px;
  }

  .user_img {
    margin-right: 10px;
  }

  ul li p {
    display: block;
  }

  ul li img {
    margin-right: 10px;
  }

  ul li {
    justify-content: flex-start;
    cursor: pointer;
  }
}

ul li:hover {
  padding-left: 15px;
  transition: all 0.3s ease-in-out;
}

ul li:hover p {
  display: block;
  transition: all 0.3s ease-in-out;
}
